################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Backend/v16
/Api/bin/Debug/net5.0
/Api/obj
