################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api/.vs/Api
/Api/Backend/bin/Debug/net5.0
/Api/Backend/obj
